# Ignore build results
bin/
obj/

# Ignore user-specific files
.vs/
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore the Visual Studio configuration folder
.vs2017/
.vs2019/

# Ignore Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Ignore temporary files
*.log
*.bak
*.swp
